.box{
  background: purple;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-size: 17px;
}

/*
.animated{
  transition-property:  background-color, border-radius;
  transition-duration: 5s, 3s;
  transition-delay: 1s, 0.5s;
}

.box:hover{
  background: red;
  transform-origin: top left;
  transform: scale(2) rotate(45deg);
  border-radius: 50px;
}
*/

.animated{
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}
.box:hover{
  transform: translateX(300px);
}
